@import "tailwindcss";

:root {
  --banner-bg: #245749;
  --bg-new-arrival: #FFD6A8;
  --header-bg:#184335;
  --background: #ffffff;
  --foreground: #171717;
  --hero-text: #ffffff;
  --hero-accent: #fbbf24;
  --hero-accent-hover: #f59e0b;
  --primary-green: #1B4B3A;
  --discount-red: #EF4444;
  --star-yellow: #FBBF24;
  --new-arrival-yellow: #FFF085;
}

@theme inline {
  --color-banner: var(--banner-bg);
  --color-header: var(--header-bg);
  --color-new: var(--bg-new-arrival);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hero section mobile optimizations */
@media (max-width: 768px) {
  .hero-section {
    background-attachment: scroll !important;
  }
}


/* .swiper-button-disabled {
  opacity: 0.35;
  cursor: not-allowed;
  pointer-events: none;
} */

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none !important;
}